h1 {
    color: #6d6d6d;
}

.btn-default {
    color: #6d6d6d;
}

.add-content .row {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}

.add-content .row:first-child {
    margin-top: 80px;
}

.add-content .row:last-child {
    border-bottom: none;
}

.add-content .row .items-type {
    text-align: center;
    font-size: 20px;
    line-height:76px;
    color: #6d6d6d;
}

.add-content .row .item {
    text-align: center;
    font-size: 15px;
}

.add-content .row .item .btn {
    background-color: #31a3dd;
    border-color: #318bb9;
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.add-content .row .item .btn:hover {
    background-color: #2788b9;
    border-color: #286f94;
}

.add-content .row .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 40px;
}

.add-content .row .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

@media screen and (max-width: 992px) {
    .add-content .row .item {
        margin-top: 40px;
    }
}
