.navbar {
	background-color: #31a3dd;
	border-bottom: 3px solid lightgreen !important;
}

.navbar-header {
	margin-top: 3px;
}

.navbar-brand {
	color:white !important;
	font-family: "Lato";
	font-weight: 900;
}

.navbar-header a {
	padding-left: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2c96cc;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #31a3dd !important;
	color:white !important;
}

.navbar-inverse .navbar-nav > li > a {
	color: #e8e8e8;
	font-size: 16px;
	line-height: 1.5;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: white;
	text-decoration: none;

.footer {
	height: 60px;
	background-color: whitesmoke;
	border-top:60px;
	display:flex;
	align-items:center;
}

.navbar li:hover {
	text-decoration: underline;
}

.container {
	margin-bottom:70px;
}

footer p {
	margin:auto;
}

.logo {
	padding-top: 4px;
}
.textLogo {
	padding-left: 1px;
}

@media screen and (max-width: 767px) {
	/* tel */
	.logo {
		padding-right: 0;
	}

	.navbar-brand {
		padding-right: 0;
	}
}

@media screen and (min-width: 767px) {
	/* non tel */
	navbar.dropdown-menu > li > a {
		color:black !important;
	}

	.dropdown-menu > li > a {
		color:#31a3dd !important;
	}
}