/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
 background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
 padding: 0 18px;
 background-color: white;
 display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
 display: block;
}

.gestionBoutonVR{
  margin-top: 560px;
}
