div .cv-img iframe{
  height: 50em;
  max-height: 100%;
  width: 100%;
  /*border: solid black 1px;*/
  /*background-color:black;*/
  /*background-image:url(../../static/img/page.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;*/
}

div .centered-content.text-center{
  /*margin-left: 50px;
  margin-right: 50px;*/
}
/*
div .centered-content.text-center div {
  border: solid white 10px;
  border-radius: 15px;
  background-color: lightgreen;
}

div .centered-content.text-center div img {
  margin-top: 5px;
  width: 100%;

}*/
