.btn {
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: #31a3dd;
	border-color: #2a8ec1;
}

.btn-icon {
	max-height: 53px;
}

a button {
	color:#0B0E0F;
}

h1 {
	color:#31a3dd;
}

a:hover, button:hover {
	color: white;
	text-decoration: none;
}

.btn-secondary {
	background-color: #43a047;
	border-color: #3b8e3f;
	color: white;
}

.btn-secondary:hover {
	background-color: #38863c;
	border-color: #327535;
	color: white;
	text-decoration: none;
}

.btn {
	height: 75px;
}

.centered-content span {
	color: #31a3dd;
}

@media screen and (min-width: 992px) {
	h1 {
		margin-bottom: 140px;
	}

	.btn-secondary {
		margin-top: 150px;
	}

	#form > center:nth-child(2) {
		margin-top: -25px;
	}

}

@media screen and (max-width: 767px) {
	//tel
	form {
		padding-right: 0px;
	}

	#form > center:nth-child(2) {
		margin-top: -25px;
	}

	div.col-md-3:nth-child(6) > a:nth-child(1) > button:nth-child(1) {
		margin-top: 5px;
	}

	label.btn {
		margin-top:0px;
	}
}

/* ########### */
/* LE SOUITCHE */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #31A3DD;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #90EE90;
}

input:focus + .slider {
	box-shadow: 0 0 1px #F5F5F5;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.les_trucs_du_souitche {
	font-size: 2em;
	vertical-align: top;
}

.switch {
	margin-top: 5px;
}
