
iframe{
  width: 95%;
  height: 500px;
  position: absolute;
}

legend{
  color : #31a3dd;
}


label{
  color : #31a3dd;
}

option{
  color: lightgreen;
}

.gestionBoutonVR{
  margin-top: 100px;
}

.bootstrap-select{
  padding-left:0px;
  padding-right:0px;
}
