{% extends "base.twig" %}
{% block stylesheets %}
<link href="{{ app.request.basepath }}/static/css/consult.css" rel="stylesheet" />
{% endblock %}
{% block content %}

  <h1 class="titre text-center"></h1>
  <main>
		<div class="buttons">
			<a href="{{ app.request.basepath }}/projet_tut.php/fichiers">
				<button id="retour_button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour
				</button>
			</a>
			<a href="{{ app.request.basepath }}/projet_tut.php/creationCV2">
				<button id="modif_button" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifier
				</button>
			</a>
		</div>
		<iframe class="cadre_info" src="{{ app.request.basepath }}/test/fichierTest/testLM.pdf" align="middle"></iframe>

</main>
<script>var titre = "{{ titre }}";</script>
<script src="{{ app.request.basepath }}/static/JS/titre.js">
</script>
{% endblock %}





