{#
    À terme il faudra que cette page remplace afficher_lm.html et afficher_cv.html qui sont les memes (évite le code en double)
#}
{% extends "base.twig" %}
{% block stylesheets %}
<link href="{{ app.request.basepath }}/static/css/consult.css" rel="stylesheet" />
{% endblock %}
{% block content %}

  <h1 class="titre text-center"></h1>
  <main>
		<div class="buttons">
				<button id="retour_button" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/fichiers'" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour
				</button>
				<button id="modif_button" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/creationCV2'" type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifier
				</button>
		</div>
		<iframe class="cadre_info" src="{{ app.request.basepath }}/upload/{{ fichier['path'] }}" align="middle"></iframe>

</main>
<script>var titre = "{{ titre }}";</script>
<script src="{{ app.request.basepath }}/static/JS/titre.js">
</script>
{% endblock %}
