{#
    Template d'affichage de LM
    Auteur : Benoit Branchard
#}
{% extends "base.twig" %}
{% block content %}
<h1 class="text-center">{{ titre }}</h1>
<main>
    <div class="buttons">
        <a class="btn btn-default btn-lg" href="{{ app.request.basepath }}/projet_tut.php/fichiers" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour
        </a>

        <a class="btn btn-success btn-lg" id="modif_button" href="{{ app.request.basepath }}/projet_tut.php/creationLM2" role="button">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Modifier
        </a>
    </div>
    <iframe class="cadre_info" src="www.google.fr" align="middle"></iframe>

</main>
{% endblock%}

{% block stylesheets %}
<link href="{{ app.request.basepath }}/static/css/consult.css" rel="stylesheet" />
{% endblock %}
