{#
    Template pour l'ajout de contenu
    Auteur : Benoit Branchard
#}
{% extends "base.twig" %}
{% block content %}
<h1 class="text-center">Ajout de contenu</h1>
<main class="add-content">
    <div class="buttons">
        <a id="retour_button" href="../app.php" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour
        </a>
    </div>

    {% set rows = [
        {
            'title': 'Mes informations',
            'items': [
                {
                    'label': 'Informations personnelles',
                    'icon': 'glyphicon-user',
                    'link': '#'
                },
                {
                    'label': 'Titre',
                    'icon': 'glyphicon-text-size',
                    'link': '#'
                },
                {
                    'label': 'Présentation',
                    'icon': 'glyphicon-blackboard',
                    'link': '#'
                },
                {
                    'label': 'Situation professionnelle',
                    'icon': 'glyphicon-briefcase',
                    'link': '#'
                }
            ]
        },
        {
            'title': 'Les indispensables',
            'items': [
                {
                    'label': 'Experiences',
                    'icon': 'glyphicon-credit-card',
                    'link': '#'
                },
                {
                    'label': 'Compétences',
                    'icon': 'glyphicon-check',
                    'link': '#'
                },
                {
                    'label': 'Formations',
                    'icon': 'glyphicon-education',
                    'link': '#'
                },
                {
                    'label': 'Contact',
                    'icon': 'glyphicon-envelope',
                    'link': '#'
                }
            ]
        },
        {
            'title': 'En pièces jointes',
            'items': [
                {
                    'label': 'Image',
                    'icon': 'glyphicon-picture',
                    'link': '#'
                },
                {
                    'label': 'Video',
                    'icon': 'glyphicon-film',
                    'link': '#'
                },
                {
                    'label': 'Audio',
                    'icon': 'glyphicon-volume-down',
                    'link': '#'
                },
                {
                    'label': 'Document',
                    'icon': 'glyphicon-file',
                    'link': '#'
                }
            ]
        },
        ]
    %}

    {% for row in rows %}
        <div class="row">
            <div class="col-xs-12 col-md-3 items-type">{{ row.title }}</div>
            {% for item in row.items %}
                <div class="col-xs-6 col-md-2 item">
                    <a class="btn btn-primary" href="{{ item.link }}">
                        <span class="glyphicon {{ item.icon }}" aria-hidden="true"></span>
                        <span class="glyphicon-class">{{ item.label }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</main>
{% endblock%}
{% block stylesheets %}
<link href="{{ app.request.basepath }}/static/css/add_content.css" rel="stylesheet" />
{% endblock %}
