<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" type="image/png" href="{{ app.request.basepath }}/static/img/logo/logo.png" />
	<!--<script src="http://code.jquery.com/jquery-latest.pack.js"></script>-->
	<script>if (!window.jQuery) { document.write('<script src="	{{ app.request.basepath }}/static/jquery.js"><\/script>'); }</script>
	<script src="{{ app.request.basepath }}/static/bootstrap/js/bootstrap.js"></script>
	<link href="{{ app.request.basepath }}/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="{{ app.request.basepath }}/static/css/font-awesome.css" rel="stylesheet" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ app.request.basepath }}/static/bootstrap-select-1.11.2/dist/css/bootstrap-select.min.css">

	<link href="{{ app.request.basepath }}/static/css/base.css" rel="stylesheet" />

	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ app.request.basepath }}/static/bootstrap-select-1.11.2/dist/js/bootstrap-select.min.js"></script>

	<script type="text/javascript">
		function confirm_reset() {
			if(confirm("voulez-vous vraiment reset la base de données ?")) {
				window.location.href= "{{ app.request.basepath }}/projet_tut.php/reset_database"
			}
		}

		function confirm_sample() {
			if(confirm("voulez-vous vraiment insérer des données d'exemple dans la base de données ?")) {
				window.location.href="{{ app.request.basepath }}/projet_tut.php/sample_database"
			}
		}
	</script>
	{% block stylesheets %}{% endblock %}
</head>
<body style="margin-top: 60px;">

	<nav class="navbar navbar-fixed-top navbar-default navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="logo navbar-brand" src="{{ app.request.basepath }}/static/img/logo/logo.png" alt="DiscipulusVitae" />
				<a class="textLogo navbar-brand" href="{{ app.request.basepath }}/projet_tut.php">iscipulusVitae</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ app.request.basepath }}/../../..">Retour sur le WordPress</a></li>
					{% if connecte %}
						<li><a href="{{ app.request.basepath }}/projet_tut.php/">Accueil</a></li>
						<li><a href="{{ app.request.basepath }}/projet_tut.php/fichiers">Mes fichiers</a></li>
						<li><a href="{{ app.request.basepath }}/projet_tut.php/entreprises">Mes destinataires</a></li>
						<li><a href="{{ app.request.basepath }}/projet_tut.php/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
						{% if admin %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
							<ul class="dropdown-menu">
								<li><a onclick="confirm_reset()">Réinstaller la base de données</a></li>
								<li><a onclick="confirm_sample()">Installer les données d'exemples</a></li>
								<li><a href="{{ app.request.basepath }}/projet_tut.php/admin_users">Changer le rôle d'un utilisateur</a></li>
								<li><a href="{{ app.request.basepath }}/projet_tut.php/display_all">Afficher tout les fichiers de la base</a></li>
							</ul>
						</li>
						{% endif %}
					{% endif %}
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div class="container">

		{% for key, message in app.session.getFlashes() %}
		<div class="{{ key }}">
			{{ message }}
		</div>
		{% endfor %}


		<div class="row">
			{% block content %}
			{% endblock %}
		</div>

	</div>
	<div style="height:50px;"></div>
	<footer class="footer navbar-fixed-bottom text-center" style="background-color:whitesmoke;">
			<p style="margin-top:10px;" class="text-muted">Projet IUT d'Orléans - CV - LM : Guillaume LIMOGES, Rémi Laurent, Antoine Lenoir, Jessy Cauquy, Clément Lecomte, Alexis Decobecq, Benoit Branchard</p>
	</footer>
</body>
</html>

{#
<!--la navbar inutile-->
<!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>-->
					<!--<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>-->
#}
