{% extends "base.twig" %}

{% block content %}
<link href="{{ app.request.basepath }}/static/css/cv.css" rel="stylesheet" />
	<h1 class="text-center">Choix Templates CV
	</h1>
	<div class="centered-content text-center">
			<a href="../creationCV2/1"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv1</p></div></a>

			<a href="../creationCV2/2"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv2</p></div></a>

			<a href="../creationCV2/3"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv3</p></div></a>

			<a href="../creationCV2/4"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv4</p></div></a>

			<a href="../creationCV2/5"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv5</p></div></a>

			<a href="../creationCV2/6"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv6</p></div></a>

			<a href="../creationCV2/7"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv7</p></div></a>

			<a href="../creationCV2/8"><div class="col-md-3 col-xs-4"><img src="{{ app.request.basepath }}/static/img/cv.png" alt="la présentation d'un cv" class="img-rounded" /><p>cv8</p></div></a>
	</div>
	<div><a class="btn btn-danger btn-xs" href="" onclick="history.go(-1)">Retour</a></div>




{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block title %}Choisissez votre template{% endblock %}