{% extends "base.twig" %}

{% block content %}
<center><h1>Connexion</h1></center>
<div class="container">
	<div class="row">
		<div class="container" style="margin-top:30px">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-body">
				{% if login_fail %}
					<p class="text-danger">Nom d'utilisateur ou mot de passe incorrect</p>
				{% endif %}
				<form method="post" action="#" role="form">
					<div class="form-group">
						<label for="exampleInputEmail1" class="sr-only">Adresse Email</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" class="form-control" id="PHP_AUTH_USER" name="PHP_AUTH_USER"
								placeholder="Enter username or email" required="" {% if last_username is defined%} value="{{ last_username }}" {% endif %}>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1" class="sr-only">Mot de passe</label>
						<div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" class="form-control" id="PHP_AUTH_PW" name="PHP_AUTH_PW"
								placeholder="Password" required="">
						</div>
					</div>
					<!--<div class="checkbox">
						<label>
						<input type="checkbox"> Rester connecté
						</label>
					</div>-->
					<button type="submit" class="btn btn-success">Connexion</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
