
{% extends "base.twig" %}
{% block title %}CréationLM{% endblock %}
{% block stylesheets %}<link href="{{ app.request.basepath }}/static/css/CreationLM2.css" rel="stylesheet" />{% endblock %}
{% block content %}

  <h1 class="titre"></h1>

<div id="id" class="centered-content">
  <div class="col-md-4">
    <p class="lead"> Intitulé de la Lettre de motivation</p>
  </div>
  <div class="col-md-6">
    <input id="intitulerDemande" class="form-group-lg form-control" type="text" name="inti_LM" >

  </div>

  <div class="accord" id="accord">
  </div>

</div>
<div  class="col-md-12">
  <div class="col-md-12">
    <br>
    <label for="textTitreParagraphe" class=""> Titre du nouveau paragraphe</label>
  </div>
  <div class="col-md-5">
    <input class='form-control form-group-lg textTitreParagraphe' type="text" name="textTitreParagraphe" id="textTitreParagraphe"/>
  </div>
  <button class="btn btn-info" type="button" onclick="ajouterParagraphe()" name="AjouterParagraphe">Ajouter un paragraphe</button>

</div>
<div  class="col-md-12">
    <h2><span class="label label-info"> CV <input name="Curriculum vitae" type="checkbox" name="CV" value="cv"></span></h2>
</div>

<div class="col-sm-12">
    <iframe style="width: 95%; height: 500px; position: absolute" id="pdf_preview" type="application/pdf" src=""></iframe>
</div>

<div  class="gestionBoutonVR col-md-12">
  <button type="button" onclick="history.go(-1)" class="btn btn-default pull-left">retour</button>
  <!-- <button type="submit" onclick="validation()" class="btn btn-success pull-right">Valider</button> -->
  <button type="submit" onclick="insertionBDD()" class="btn btn-success pull-right">Valider</button>
</div>

<script src="{{ app.request.basepath }}/static/JS/CreationLM2.js">
</script>
<script>var titre = "{{ titre }}";</script>
<script src="{{ app.request.basepath }}/static/JS/titre.js">
</script>
<script src="{{ app.request.basepath }}/static/lib/jsPDF-1.2.60/jspdf.js">
</script>
<script src="{{ app.request.basepath }}/static/lib/jsPDF-1.2.60/dist/jspdf.min.js">

</script>
<script type="text/javascript">
  var pdf = new jsPDF('p');
  var preview_container = $('#pdf_preview');
  preview_container.attr('src', pdf.output('datauristring'));
  creationHeadInformation("{{ valeur['nom'] }}","{{ valeur['prenom'] }}",{{ valeur['age'] }},"{{ valeur['adressePostal'] }}",{{ valeur['codePostal'] }}, "{{ valeur['ville'] }}","{{ valeur['tel'] }}","{{ valeur['email'] }}");
  // pdf.text(50, 45, "{{ titrecv[1] }}");
  creationHeadDestinataire("{{ dest['entreprise'] }}","{{ dest['nom'] }}","{{ dest['prenom'] }}","{{ dest['adresse_postale'] }}","{{ dest['CP'] }}","{{ dest['ville'] }}","{{ dest['civilite'] }}");
</script>

<script type="text/javascript">
  function insertionBDD(){
    var liste  = document.getElementsByClassName("accordion");
    var listeObjet = new Object();
    for(var i = 0;i<liste.length;i++){
      listeObjet[liste[i]] = document.getElementsById("texte"+i);

    }
    var url = '{{ app.request.basepath }}/projet_tut.php/creationLmBdd?'; // Début de l'URL
    for (i in tableau)
    {
        url += 'arr' + i + '=' + tableau[i] + '&'; // On ajoute les valeurs du tableau
    }
    url = url.substring(0, url.length - 2); // On retire le "&" de trop
    document.location.href = url; // Et on envoie à PHP
  }

</script>



{% endblock%}
