{% extends "base.twig" %}

{% block content %}
<!--
Première page de création LM
Auteur : Alexis Decobecq
Description :
  Affiche un formulaire composé de 2 fieldsets :
    le premier pour les données de l'étudiant
    le second pour les données de l'entreprise
-->

<form class="" id="formulaireCreationLM2" action="creation2LM" method="get">
  <fieldset class="col-md-6" id="fieldsetS">
    <legend>Mes informations</legend>
    <div class="col-xs-10">
      <label for="tNomS">Nom</label>
      <input class="form-control" value="{{ valeurs["nom"] }}" type="text" id="tNomS" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-6">
      <label for="tPrénomS">Prénom</label>
      <input class="form-control" value="{{ valeurs["prenom"] }}" type="text" id="tPrénomS" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tAgeS">Age</label>
      <input class="form-control" value="{{ valeurs["age"] }}" type="text" id="tAgeS" pattern="[0-9]{1,3}" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tAdrPostS">Adresse postale</label>
      <textarea class="form-control"  rows="3" cols="40" id="taAdrPostS">{{ valeurs["adressePostal"] }}</textarea>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tCPS">Code postal</label>
      <input class="form-control" value="{{ valeurs["codePostal"] }}" type="text" id="tCPS" pattern="[0-9]{5}" required>
    </div>
    <div class="col-xs-6">
      <label for="tVilleS">Ville</label>
      <input class="form-control" value="{{ valeurs["ville"] }}" type="text" id="tVilleS" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tNumero">Numéro de téléphone</label>
      <input type="text" value="{{ valeurs["tel"] }}" class="form-control" id="tNumero" pattern="[0-9]{10}" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="mAddMailS">Adresse mail</label>
      <input class="form-control" value="{{ valeurs['email'] }}" type="email" id="mAddMailS"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
    </div>
    <br>
    <div class="col-xs-3">
      <label for="sPermisS">Permis</label>
      <select id="select" class="form-control" id="sPermisS">
        <option value="o">Oui</option>
        <option value="n">Non</option>
      </select>
    </div>
  </fieldset>
  <!-- /////////////////////////////////////////// -->
  <fieldset class="col-md-6" id="fieldsetD">
    <legend>Destinataire</legend>
    <fieldset class="col-xs-12">
      <legend>Entreprises enregistrées</legend>
      <div class="col-xs-10">
        <select onchange="change(this.value)" class="form-control">
          <option selected="selected" value="new">Ajouter nouvelle entreprise</option>
          {% for dest in destinations %}
          <option value="{{dest['id']}}">{{ dest['entreprise'] }}</option>
          {% endfor %}
        </select>
        <br>
      </div>
    </fieldset>
    <fieldset class="col-xs-12">
      <legend>Description Entreprise</legend>
    <div class="col-xs-10">
      <label for="">Nom Destinataire</label>
      <input class="form-control" type="text" id="tNomD" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-6">
      <label for="tPrénomD">Prénom Destinataire</label>
      <input class="form-control" type="text" id="tPrénomD" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="CivD">Civilité</label>
      <select class="form-control" id="CivD" required>
        <option value="M">Monsieur</option>
        <option value="Mme">Madame</option>
      </select>
    </div>
    <div class="col-xs-10">
      <label for="tNomEnt">Nom Entreprise</label>
      <input type="text" class="form-control" id="tNomEnt" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tAdrPostD">Adresse postale</label>
      <input class="form-control" type="text" id="tAdrPostD" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tCPD">Code postal</label>
      <input class="form-control" type="text" id="tCPD" pattern="[0-9]{5}" required>
    </div>
    <div class="col-xs-6">
      <label for="tVilleD">Ville</label>
      <input class="form-control" type="text" id="tVilleD" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="mAddMailD">Adresse Mail</label>
      <input class="form-control" type="mail" id="mAddMailD"
      pattern="[a-z0-9A-Z._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$" required>

    </div>
    </fieldset>
  </fieldset>
  <div class="col-md-12">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <button class="col-xs-2 btn btn-default" type="button" onclick="window.location.replace('../app.php')">Annuler</button>
      <div class="col-xs-1"></div>
      <button class="col-xs-2 btn btn-info" type="button">Aide</button>
      <div class="col-xs-1"></div>
      <button type="button" onclick="validation()"class="btn btn-success col-xs-4">Valider la création LM</button>
    </div>
  </div>
</form>
<script type="text/javascript">
    var indice_Option = 'new';
    function change(id) {
        indice_Option = id;
        console.log(indice_Option);
        if(id=="new"){
            document.getElementById('tNomD').value = "";
            document.getElementById('tPrénomD').value = "";
            document.getElementById('CivD').value="M";
            document.getElementById('tNomEnt').value="";
            document.getElementById('tAdrPostD').value="";
            document.getElementById('tCPD').value="";
            document.getElementById('tVilleD').value="";
            document.getElementById('mAddMailD').value="";


        }
        else{
            var maMap = new Object();
            {% for dest in destinations %}
                var liste = new Object();
                liste['nom'] = "{{ dest['nom']}}";
                liste['prenom'] = "{{ dest['prenom']}}";
                liste['civilite'] = "{{ dest['civilite']}}";
                liste['entreprise'] = "{{ dest['entreprise']}}";
                liste['adresse_postale'] = "{{ dest['adresse_postale']}}";
                liste['CP'] = {{ dest['CP']}};
                liste['ville'] = "{{ dest['ville']}}";
                liste['adresse_mail'] = "{{ dest['adresse_mail']}}";

                maMap[{{ dest['id']}}] = liste;
            {% endfor %}
            document.getElementById('tNomD').value = maMap[id]['nom'];
            document.getElementById('tPrénomD').value = maMap[id]['prenom'];
            if(maMap[id]['civilite']==0){
                document.getElementById('CivD').value="M";
            }
            else{
                document.getElementById('CivD').value="Mme";
            }
            document.getElementById('tNomEnt').value=maMap[id]['entreprise'];
            document.getElementById('tAdrPostD').value=maMap[id]['adresse_postale'];
            document.getElementById('tCPD').value=maMap[id]['CP'];
            document.getElementById('tVilleD').value=maMap[id]['ville'];
            document.getElementById('mAddMailD').value=maMap[id]['adresse_mail'];
            document.getElementById("formulaireCreationLM2").action = "creation2LM/"+id;
        }


    }



</script>
<script>
  function validation(){
    if(indice_Option == "new"){
      var civilite = 0;
      var res ;

      if(document.getElementById('CivD').value=="M"){
        civilite=0;
      }
      else{
         civilite=1;
      }
      res = document.getElementById('tNomD').value +'/'+ document.getElementById('tPrénomD').value+'/'+civilite+'/'+document.getElementById('tNomEnt').value+'/'+document.getElementById('tAdrPostD').value+ '/' + document.getElementById('tCPD').value+ '/'+document.getElementById('tVilleD').value
      +'/'+document.getElementById('mAddMailD').value;
      var url = '{{ app.request.basepath }}/projet_tut.php/creationDestinataire/'+res;
      console.log(url);
      window.location.href=url;
      }
    else{
      res = indice_Option;
      var url = '{{ app.request.basepath }}/projet_tut.php/creation2LM/'+res;
      window.location.href=url;
    }


  }
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
