{% extends "base.twig" %}

{% block title %}Remplissez vos informations{% endblock %}

{% block content %}
<!--
Première page de création CV
Auteur : Alexis Decobecq
Description :
  Affiche un formulaire pour saisir les données personnelles de l'étudiant
-->


<form class="" action="creationCV2/0" method="get">
  <div class="col-md-3"></div>
  <fieldset class="col-md-6" id="fieldsetS">
    <legend>Mes informations</legend>
    <div class="col-xs-10">
      <label for="tNomS">Nom</label>
      <input class="form-control" value="{{ valeurs["nom"] }}" type="text" id="tNomS" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-6">
      <label for="tPrénomS">Prénom</label>
      <input class="form-control" value="{{ valeurs["prenom"] }}" type="text" id="tPrénomS" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tAgeS">Age</label>
      <input class="form-control" value="{{ valeurs["age"] }}" type="text" id="tAgeS" pattern="[0-9]{1,3}" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tAdrPostS">Adresse postale</label>
      <textarea class="form-control"  rows="3" cols="40" id="taAdrPostS">{{ valeurs["adressePostal"] }}</textarea>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tCPS">Code postal</label>
      <input class="form-control" value="{{ valeurs["codePostal"] }}" type="text" id="tCPS" pattern="[0-9]{5}" required>
    </div>
    <div class="col-xs-6">
      <label for="tVilleS">Ville</label>
      <input class="form-control" value="{{ valeurs["ville"] }}" type="text" id="tVilleS" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tNumero">Numéro de téléphone</label>
      <input type="text" value="{{ valeurs["tel"] }}" class="form-control" id="tNumero" pattern="[0-9]{10}" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="mAddMailS">Adresse mail</label>
      <input class="form-control" value="{{ valeurs['email'] }}" type="email" id="mAddMailS"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
      {#
         il manque de champ email dans la bd
      #}
    </div>
    <br>
    <div class="col-xs-3">
      <label for="sPermisS">Permis</label>
      <select class="form-control" value="{{ valeurs[permis] }}" id="sPermisS">
          {#
             il manque de champ permis dans la bd
          #}
        <option value="o">Oui</option>
        <option value="n">Non</option>
      </select>
    </div>
  </fieldset>
  <div class="col-md-12">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <button class="col-xs-2 btn btn-default" type="button" onclick="window.location.replace('../app.php')">Annuler</button>
      <div class="col-xs-1"></div>
      <button class="col-xs-2 btn btn-info" type="button">Aide</button>
      <div class="col-xs-1"></div>
      <button type="submit" class="btn btn-success col-xs-4" onclick="verif()">Valider la création CV</button>
    </div>
  </div>
</form>

<script src="{{ app.request.basepath }}/static/JS/CreationCV1.js">
</script>


{% endblock %}

{% block stylesheets %}
{% endblock %}
