{% extends "base.twig" %}

{% block stylesheets %}<link href="{{ app.request.basepath }}/static/css/cv.css" rel="stylesheet" />{% endblock %}

{% block title %}Création du CV{% endblock %}

{% block content %}

	<h1 class="titre"></h1>

  <main>
  	<div class="col-md-3 col-xs-12 left-content">
  			<div class="col-md-12 col-xs-4"><a class="design0 btn btn-primary btn-lg btn-block hidden-xs" href="../choixTemplatesCV/{{cv}}"><span class="glyphicon glyphicon-pencil"></span> Design</a><a class="design1 btn btn-primary btn-lg btn-block visible-xs" href="../choixTemplatesCV/{{cv}}"><span class="glyphicon glyphicon-pencil"></span></a><br></div>

  			<div class="col-md-12 col-xs-4"><a class="ajouter0 btn btn-warning btn-lg btn-block hidden-xs" href="../ajoutContenu"><span class="glyphicon glyphicon-plus"></span> Ajouter</a><a class="ajouter1 btn btn-warning btn-lg btn-block visible-xs" href="../ajoutContenu"><span class="glyphicon glyphicon-plus"></span></a><br></div>

  			<div class="col-md-12 col-xs-4"><a class="verifier0 btn btn-success btn-lg btn-block hidden-xs" href="../CVvalidation"><span class="glyphicon glyphicon-ok"></span> Vérifier</a><a class="verifier1 btn btn-success btn-lg btn-block visible-xs" href="../CVvalidation"><span class="glyphicon glyphicon-ok"></span></a><br></div>

				<div class="col-md-12 col-xs-4"><a class="btn btn-danger btn-xs" href="../creationCV1">Retour</a></div>
  	</div>

    <div id="cadre" class="col-md-9 col-xs-12 centered-content cv-img">
      <!-- <img src="static/img/page.png" alt="l'affichage de votre cv" class="img-responsive" /> -->
			  <iframe id="pdf_preview" type="application/pdf" src=""></iframe>
		</div>


</main>

	<script src="{{ app.request.basepath }}/static/JS/titre.js"></script>
	<script src="{{ app.request.basepath }}/static/lib/jsPDF-1.2.60/jspdf.js"></script>
	<script src="{{ app.request.basepath }}/static/lib/jsPDF-1.2.60/dist/jspdf.min.js"></script>

	<script type="text/javascript">
	$( document ).ready(function() {
		var hauteurTxt = 15;
		var url = window.location.search;
		var id_design = url.substring(url.indexOf("=")+1);
		console.log($(id_design).selector);
		var pdf = new jsPDF('p','pt','a4');
		//pdf.addPage(getWidth(), getHeight());
		var preview_container = $('#pdf_preview');
		pdf.setFont("times");
		pdf.setFontSize(12);
		// if ($(id_design).selector == "0") {
		if ("{{ cv }}" == 0) {
			var ajouter = document.getElementsByClassName("ajouter0");
			var ajouter1 = document.getElementsByClassName("ajouter1");
			$(ajouter)[0].className = "ajouter0 btn btn-warning btn-lg btn-block hidden-xs disabled";
			$(ajouter1)[0].className = "ajouter1 btn btn-warning btn-lg btn-block visible-xs disabled";
			var verifier = document.getElementsByClassName("verifier0");
			var verifier1 = document.getElementsByClassName("verifier1");
			$(verifier)[0].className = "verifier0 btn btn-success btn-lg btn-block hidden-xs disabled";
			$(verifier1)[0].className = "verifier1 btn btn-success btn-lg btn-block visible-xs disabled";
		}
		else {
			var design = document.getElementsByClassName("design0");
			var design1 = document.getElementsByClassName("design1");
			$(design)[0].className = "design0 btn btn-primary btn-lg btn-block hidden-xs disabled";
			$(design1)[0].className = "design1 btn btn-primary btn-lg btn-block visible-xs disabled";
			if ("{{ cv }}" == 1) {
				// pdf.text(15,15,"P");
				// pdf.text(23,15,"P");
				creationPDF_head(pdf);
				console.log("{{valeur}}");
				pdf.text(15, 120, "Experiences : ");
				pdf.text(30, 135, "{{ experiences[1] }} - {{ experiences[2]}} {{ experiences[3] }} :");
				pdf.text(200, 150, "{{ experiences[4] }}");
				pdf.text(100, 135, "{{ experiences[5] }}, Secteur : {{ experiences[6] }}");
				pdf.text(50, 150, "Poste occupé : {{ experiences[7] }}");
				pdf.text(50, 180, "Missions et Taches éffectué : ");
				insertSaut(100, 195, "{{ experiences[8] }}", pdf);
			}
		}
		preview_container.attr('src', pdf.output('datauristring'));
		console.log({{valeur}});
	});


	function creationPDF_head(pdf){
		pdf.text(15, 15, "{{ valeur['nom'] }} {{ valeur['prenom'] }}");
		pdf.text(15, 30, "{{ valeur['age'] }} ans");
		pdf.text(15, 45, "{{ valeur['adressePostal'] }}");
		pdf.text(15, 60, "{{ valeur['codePostal'] }} {{ valeur['ville'] }}");
		pdf.text(15, 75, "Tél : {{ valeur['tel'] }}");
		pdf.text(15, 90, "Email : {{ valeur['email'] }}");
	}

	function getHeight(){
		var longueur = $("#cadre")[0].clientHeight;
		return longueur;
	}

	console.log("hauteur : "+getHeight());
	console.log(document.body.clientWidth);

	function getHauteurTxt(){
		return hauteurTxt;
	}

	function setHauteurTxt(h){
		hauteurTxt = h;
	}

	function getWidth(){
		var largeur = $("#cadre")[0].offsetWidth;
		return largeur;
	}

	console.log("largeur : "+getWidth());

	function ajouteLigneTxt(){
		setHauteurTxt(getHauteurTxt+15);
	}

	function decoupe(phrase){				// on decoupe les phrases en liste de mot pour etre utilisé dans le saut de ligne
		return phrase.split(" ");
	}

	console.log(decoupe("Je suis un petit bonhomme en mousse qui le vaut bien"));

	function motTaillePixel(mot){
		var el = 8; // il s'agit de l'espacement en pixel de chaque lettre
		return mot.split('').length*el;
	}

	console.log(motTaillePixel("coucou"));

	// function insertSaut(departL,departH,phrase,pdf){		// on prend la position du premier mot de la phrase, on ajoute autant de mot que l'on peut, mais si le mot selectionné le peut pas rentrer dans la largeur-10 on fait un saut de ligne qui commence au debut donné
	// 	var liste = decoupe(phrase);
	// 	var la = getWidth()-30;
	// 	var insererH = departH;
	// 	var insererL = departL;
	// 	var lg;
	// 	while(liste.length>0){
	// 		mot = liste.shift();
	// 		lg = motTaillePixel(mot);
	// 		if(insererL+lg>=la-departL){
	// 			insererH+=15;
	// 			insererL=departL;
	// 		}
	// 		console.log("point : "+insererL);
	// 		console.log("mot : "+lg);
	// 		pdf.text(insererL, insererH, mot);
	// 		insererL+=lg+8;
	// 	}
	// }

	function insertSaut(departL,departH,phrase,pdf){		// on prend la position du premier mot de la phrase, on ajoute autant de mot que l'on peut, mais si le mot selectionné le peut pas rentrer dans la largeur-10 on fait un saut de ligne qui commence au debut donné
		var liste = decoupe(phrase);
		var la = getWidth()-30;
		var insererH = departH;
		var insererL = departL;
		var lg;
		while(liste.length>0){
			var txt = "";
			while(txt.length*8<=la && liste.length>0){
				var mot = liste.shift();
				lg = motTaillePixel(mot);
				txt += mot+" ";
			}
			pdf.text(departL, insererH, txt);
			insererH+=15;
		}
	}
	</script>


<script > var titre = "{{ titre }}"; var liste =["#31a3dd","#37a7d8","#3cacd4","#42b0cf","#47b5cb" ,"#4db9c6","#53bdc2","#58c2bd","#5ec6b9","#63cbb4","#69cfb0","#6ed4ab","#74d8a7","#7adca2","#7fe19e" ,"#85e599","#8aea95","#90ee90"]; for(var i = 0; i<titre.length;i++){ var first = titre.charAt(i); $( ".titre" ).append("<font color='"+liste[i]+"'>"+first+"</font>"); } </script>

{% endblock %}
