{% extends "base.twig" %}

{% block content %}
<!--
Première page de création LM
Auteur : Alexis Decobecq
Description :
  Affiche un formulaire composé de 2 fieldsets :
    le premier pour les données de l'étudiant
    le second pour les données de l'entreprise
-->
<form class="" action="index.html" method="get">
  <div class="col-md-3"></div>
  <fieldset class="col-md-6">
    <legend>Ajouter Destinataire</legend>
    <div class="col-xs-10">
      <label for="">Nom Destinataire</label>
      <input class="form-control" type="text" id="tNomD" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-6">
      <label for="tPrénomD">Prénom Destinataire</label>
      <input class="form-control" type="text" id="tPrénomD" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="CivD">Civilité</label>
      <select class="form-control" id="CivD" required>
        <option value="M">Monsieur</option>
        <option value="Mme">Madame</option>
      </select>
    </div>
    <div class="col-xs-10">
      <label for="tNomEnt">Nom Entreprise</label>
      <input type="text" class="form-control" id="tNomEnt" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tAdrPostD">Adresse postale</label>
      <input class="form-control" type="text" id="tAdrPostD" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tCPD">Code postal</label>
      <input class="form-control" type="text" id="tCPD" pattern="[0-9]{5}" required>
    </div>
    <div class="col-xs-6">
      <label for="tVilleD">Ville</label>
      <input class="form-control" type="text" id="tVilleD" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="mAddMailD">Adresse Mail</label>
      <input class="form-control" type="mail" id="mAddMailD"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
    </div>
    </fieldset>
  </fieldset>

  <div class="col-md-12">
    <div class="col-md-3"></div>
    <fieldset class="col-xs-6">
      <legend>Liste d'entreprises</legend>
      <div class="col-xs-10">
        <select class="form-control">
          <option value="option">Cultura</option>
          <option value="option">FNAC</option>
        </select>
      </div>
    </fieldset>
  </div>
  <div class="col-md-12">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <button class="col-xs-2 btn btn-default" type="button" onclick="window.location.replace('../app.php')">Annuler</button>
      <div class="col-xs-1"></div>
      <button class="col-xs-2 btn btn-info" type="button">Aide</button>
      <div class="col-xs-1"></div>
      <button type="submit" class="btn btn-success col-xs-4">Valider ajout</button>
    </div>
  </div>
  </fieldset>

</form>




{% endblock %}

{% block stylesheets %}
{% endblock %}
