{% extends "base.twig" %}
{% block title %}CVvalidation{% endblock %}
{% block stylesheets %}
<link href="{{ app.request.basepath }}/static/css/CVvalidation.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<h1 class="titre"></h1>

<div class='col-md-6'>
 <iframe style="width: 95%; height: 500px; position: absolute" src="{{ app.request.basepath }}/upload/{{fichier}}"  align="middle"></iframe>
</div>
<div class='col-md-6'>
	<form id="merde" class="formulaireCommentaire" action="{{ app.request.basepath }}/projet_tut.php/postCVvalidation/{{listePara[0][0]}}" method="GET">
		{% for elem in listePara %}
{# [id, id_file, type, titre, texte, number, valide] #}
		<fieldset>
			<legend> {{ elem[3] }}</legend>
			<div class="col-md-12 bootstrap-select">
				<div class=" col-xs-4 form-group bootstrap-select">
					<select data-style="btn-info" class="selectpicker form-control">
						<option>Ne pas valider</option>
						<option>Valider</option>
					</select>
				</div>
			</div>
			<label for="comment{{ elem[3]|replace({' ': ''}) }}">Commenter "{{ elem[3] }}":</label>
			<textarea class="form-control"  id="comment{{ elem[3]|replace({' ': ''}) }}"></textarea>
		</fieldset>
		{% endfor %}

	</form>
</div>
<div  class="gestionBoutonVR col-md-12">
 <button type="button" onclick="history.go(-1)" class="btn btn-default pull-left">retour</button>
 <button type="submit" onclick="$('#merde').validate();" class="btn btn-success pull-right">Valider</button>
</div>

<script >
	var titre = "{{ titre }}";
	var liste =["#31a3dd","#37a7d8","#3cacd4","#42b0cf","#47b5cb" ,"#4db9c6","#53bdc2","#58c2bd","#5ec6b9","#63cbb4","#69cfb0","#6ed4ab","#74d8a7","#7adca2","#7fe19e" ,"#85e599","#8aea95","#90ee90"]
	for(var i = 0; i<titre.length;i++){
		var first = titre.charAt(i);
		$( ".titre" ).append("<font color='"+liste[i]+"'>"+first+"</font>");
	}
</script>

{% endblock %}
