{% extends "base.twig" %}

{% block content %}
<form class="" action="{{ app.request.basepath }}/projet_tut.php/modification_entreprises/{{id}}" method="get">
  <div class="col-md-3"></div>
  <fieldset class="col-md-6" id="fieldsetS">
    <legend>Informations du destinataire</legend>
    <div class="col-xs-10">
      <label for="tNomEnt">Nom de l'entreprise</label>
      <input type="text" value="{{ destinataire['entreprise'] }}" class="form-control" name="tNomEnt" required>
    </div>
    <br>
    <div class="col-xs-6">
      <label for="">Nom du destinataire</label>
      <input class="form-control" value="{{ destinataire['nom'] }}" type="text" name="tNomD" pattern="[a-z][A-Z]{0-20}" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="CivD">Civilité</label>
      <select class="form-control" name="CivD" required>
          {% if destinataire['civilite'] ==0 %}
          <option value=0>Monsieur</option>
          <option value=1>Madame</option>
          {% else %}
          <option value=1>Madame</option>
          <option value=0>Monsieur</option>
        {% endif %}
      </select>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="tAdrPostD">Adresse postale</label>
      <input class="form-control" value="{{ destinataire['adresse_postale'] }}" type="text" name="tAdrPostD" required>
    </div>
    <br>
    <div class="col-xs-4">
      <label for="tCPD">Code postal</label>
      <input class="form-control"  value="{{ destinataire['CP'] }}"  type="text" name="tCPD" pattern="[0-9]{5}" required>
    </div>
    <div class="col-xs-6">
      <label for="tVilleD">Ville</label>
      <input class="form-control" value="{{ destinataire['ville'] }}" type="text" name="tVilleD" required>
    </div>
    <br>
    <div class="col-xs-10">
      <label for="mAddMailD">Adresse mail</label>
      <input class="form-control" value="{{ destinataire['adresse_mail'] }}" type="mail" name="mAddMailD"
      pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
    </div>
  </fieldset>
  <div class="col-md-12">
  <div class="col-md-3"></div>
      <div class="col-md-6">
      <br>
      <button class="col-xs-2 btn btn-default" type="button" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/entreprises'">Retour</button>
      <div class="col-xs-1"></div>
      <button type="submit" class="btn btn-success col-xs-5" >Valider la modification</button>
    </div>
</form>

<!-- <script type="text/javascript">
    function modifier(id){
        nom_ent = document.getElementById("tNomEnt").value;
        nom_dest = document.getElementById("tNomD").value;
        civ = document.getElementById("CivD").value;
        addr = document.getElementById("tAdrPostD").value;
        code_post = document.getElementById("tCPD").value;
        ville = document.getElementById("tVilleD").value;
        adresse_mail = document.getElementById("mAddMailD").value;
        window.location.href='{{ app.request.basepath }}/projet_tut.php/modification_entreprises/'+id+'/'+nom_ent+'/'+nom_dest+'/'+civ+'/'+addr+'/'+code_post+'/'+ville+'/'+adresse_mail;

    }
</script> -->
{% endblock %}
