{% extends "base.twig" %}

{% block title %}Liste des fichiers{% endblock %}

{% block content %}

<style media="screen">
	body{
		margin-top:50px;
	}
	#container-mixitup {
		list-style-type: none;
	}
	.glyphicon { margin-right:10px; }
	.panel-body { padding:0px; }
	.panel-body table tr td { padding-left: 15px }
	.panel-body .table {margin-bottom: 0px; }
	#scroller{
		position:relative;
		top:60px;
		width:100%;
		background:#CCC;
		height:20px;
	}
	.btn_truc {
		margin-left: 30px;
		float:left;
	}
	.controls {
		list-style-type: none;
	}
	.controls li {
		float:left;
		margin:15px 7px;
	}
</style>

<br>
<h1 class="titre"></h1>
<br>
<div class="container-fluid">
	<div class="row">
		<ul id="container-mixitup">
			{% for x in fichiers|reverse %}
			<li class="mix {{x[5]}}" data-date="{{ x[3] }}">
				<div class="col-md-8 tab-content">
					<div role="tabpanel" id="seite1">
						<article class="panel panel-default">
							<header class="panel-heading">
								<h1 class="text-muted text-center">{{ x[2] }}</h1>
							</header>
							<div class="panel-body">
								<figure class="pull-left "><iframe src="{{ app.request.basepath }}/upload/{{ x[1] }}" width="200" height="200"></iframe>
									<figcaption class="text-center"><strong>Validé ?</strong></figcaption>
								</figure>
								<table>
									<tr>
										<td>
											<strong>Type de document: </strong> {{ x[5] }}
										</td>
										<td>
											<strong>Date de création: </strong> {{ x[3][0:10] }}
										</td>
									</tr>
									<tr>
										<td>
											<strong>Auteur: </strong> {{ x[5] }}
										</td>
										<td>
											<strong>Encore une: </strong> ...
										</td>
									</tr>
								</table>
								<hr/>
								<button class="btn btn-info btn_truc" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/affichage_lm_cv/{{x[0]}}'" type="button" name="button"> Consulter </button>
								<button class="btn btn-info btn_truc" type="button" name="button"> Télécharger </button>
								{% if x[5] == "CV" %}
								<a href="{{ app.request.basepath }}/projet_tut.php/CVvalidation/{{x[0]}}" class="btn btn-info btn_truc" type="button" name="button"> Valider </a>
								{% else %}
								<a href="{{ app.request.basepath }}/projet_tut.php/LMvalidation/{{x[0]}}" class="btn btn-info btn_truc" type="button" name="button"> Valider </a>
								{% endif %}
								<div class="col-sm-2"></div>
								<div class="col-sm-2">
									<br>
									<form class="form-group" action="{{ app.request.basepath }}/projet_tut.php/remove_file/{{ x[0] }}" method="get">
									</form>
								</div>
							</div>
							<br>
							<footer class="panel-footer clearfix "><center></center></footer>
						</article>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="col-md-4 scroller" >
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="glyphicon glyphicon-search"></span>Recherche
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<table class="table">
								<tr>
									<td>
										<div class="form-group">
											<input type="search" class="input-sm form-control" placeholder="CTRL F batard" disabled="">
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="panel-heading">
						<h4 class="panel-title">
							<span class="glyphicon glyphicon-file"></span>Type</a>
						</h4>
					</div>
					<div id="collapseTwo" class="">
						<div class="panel-body controls">
							<ul class="controls">
								<li>
									<button class="btn btn-primary btn-sm filter" data-filter=".CV" >CV</button>
								</li>
								<li>
									<button class="btn btn-primary btn-sm filter" data-filter=".LM" >LM</button>
								</li>
								<li>
									<button class="btn btn-primary btn-sm filter" data-filter="all">Tout</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-calendar">
							</span>Date</a>
						</h4>
					</div>
					<div id="collapseThree" class="">
						<div class="panel-body">
							<ul class="controls">
								<li>
									<button type="button" data-sort="date:desc" class="btn btn-primary btn-sm filter">Le plus récent en premier</button>
								</li>
								<li>
									<button type="button" data-sort="date:asc" class="btn btn-primary btn-sm filter">L'inverse</button>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-user">
							</span>Destinataires</a>
						</h4>
					</div>
					<div id="collapseFour" class="">
						<div class="panel-body">
							<table class="table">
								<tr>
									<td>
										<div class="dropdown">
											<select multiple class=form-control>
												<option value=un>Un</option>
												<option value=deux>Deux</option>
												<option value=trois>Trois</option>
											</select>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-ok">
							</span>Validation</a>
						</h4>
					</div>
					<div id="collapseFive" class="">
						<div class="panel-body">
							<ul class="controls">
								<li>
									<button class="btn btn-primary btn-sm">Validé</button>
								</li>
								<li>
									<button class="btn btn-primary btn-sm">Non validé</button>
								</li>
								<li>
									<button class="btn btn-primary btn-sm">Tout</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>var titre = "{{ titre }}";</script>
	<script src="{{ app.request.basepath }}/static/JS/titre.js">
	</script>
	<script type="text/javascript">
		/*var fichier = {{ fichiers[0] }};
		console.log(fichier);*/
	</script>
	<script src="{{ app.request.basepath }}/static/JS/mixitup.js"></script>
	<script>
		var containerEl = document.querySelector('#container-mixitup');
		var mixer = mixitup(containerEl, {
                load: {
                    sort: 'published-date:desc'
                }
            });
	</script>
	{% endblock %}

	{% block stylesheets %}
	<script>
		$(window).load(function(){
			$('.scroller').css('position', 'fixed');
			$('.scroller').css('top', 170);
			$('.scroller').css('right', 20);
		});
	</script>
	{% endblock %}
