{% extends "base.twig" %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style media="screen">
body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
</style>

<br>
<h1 class="titre"></h1>
<br>
<div class="container-fluid">
    <div class="row">
        {% for dest in destinations %}
        <div class="col-md-8 tab-content">
            <div role="tabpanel" id="seite1">
                <article class="panel panel-default">
                    <header class="panel-heading">
                        <h1 class="text-muted text-center">{{ dest['entreprise'] }}</h1>
                    </header>
                    <div class="panel-body">

                        <table>
                            <tr>
                                <td>
                                    <strong>Nom du destinataire: </strong> {{ dest['nom'] }}
                                </td>
                                <td>
                                    <strong>Adresse postale: </strong> {{ dest['adresse_postale'] }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Ville: </strong> {{ dest['ville'] }}
                                </td>
                                <td>
                                    <strong>Adresse mail: </strong> {{ dest['adresse_mail'] }}
                                </td>
                            </tr>
                        </table>
                        <hr/>
                        <div class="col-sm-3">
                            <button class="btn btn-info" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/details_entreprises/{{ dest['id'] }}'" type="button" name="button"><span class="fa fa-id-card-o"></span> &nbsp; Consulter / Modifier </button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-warning" onClick="window.location='mailto:{{ dest['adresse_mail'] }}?subject=Prise de contact avec {%if dest['civilite']==0 %}Monsieur{% else %}Madame{% endif %} {{ dest['nom'] }} de la société {{ dest['entreprise'] }}';"> <span class="fa fa-envelope"></span> &nbsp; Envoyer un e-mail   </button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-danger" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/remove_entreprises/{{ dest['id'] }}/{{ dest['id_user'] }}'" type="button" name="button"> <span class="fa fa-times"></span> &nbsp; Supprimer </button>
                        </div>
                    </div>
                    <br>
                    <footer class="panel-footer clearfix "><center></center></footer>
                </div>
            </article>
        </div>
        {% endfor %}
        <div class="col-md-4 scroller" >
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Recherche</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="search" class="input-sm form-control" placeholder="Recherche">
                                            <br>
                                            <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Nom</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="name" value=""> Croissant
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" name="name" value="">  Décroissant
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus">
                            </span>Ajouter une entreprise</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <form action="entreprises" method="get">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label for="">Nom de l'entreprise</label>
                                                <input name="tNomEnt" id="tNomEnt" type="text" class="input-sm form-control" required>
                                                <label for="">Nom du destinataire</label>
                                                <input name="tNomD" id="tNomD" type="text" class="input-sm form-control" pattern="[a-z][A-Z]{0-20}" required>
                                                <label for="">Prénom du destinataire</label>
                                                <input name="tPrénomD" id="tPrénomD" type="text" class="input-sm form-control" pattern="[a-z][A-Z]{0-20}" required>
                                                <label for="CivD">Civilité</label>
                                                <select class="form-control" id="CivD" name="CivD" required>
                                                    <option value=1>Madame</option>
                                                    <option value=0>Monsieur</option>
                                                </select>
                                                <label for="">Adresse postale</label>
                                                <input name="tAdrPostD" id="tAdrPostD" type="text" class="input-sm form-control" required>
                                                <label for="">Code postale</label>
                                                <input name="tCPD" id="tCPD" type="text" class="input-sm form-control" pattern="[0-9]{5}" required>
                                                <label for="">Ville</label>
                                                <input name="tVilleD" id="tVilleD" type="text" class="input-sm form-control" required>
                                                <label for="">Adresse mail</label>
                                                <input name="mAddMailD" id="mAddMailD" type="mail" class="input-sm form-control" required>
                                                <br>
                                                <button type="button" onclick="validation()" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>var titre = "{{ titre }}";</script>
<script src="{{ app.request.basepath }}/static/JS/titre.js">
</script>
<script> console.log({{ destinations }});</script>
<script>
function validation(){
    var civilite = 0;
    var res ;

    if(document.getElementById('CivD').value==0){
        civilite=0;
    }
    else{
        civilite=1;
    }
    res = document.getElementById('tNomD').value +'/'+ document.getElementById('tPrénomD').value+'/'+civilite+'/'+document.getElementById('tNomEnt').value+'/'+document.getElementById('tAdrPostD').value+ '/' + document.getElementById('tCPD').value+ '/'+document.getElementById('tVilleD').value
    +'/'+document.getElementById('mAddMailD').value;
    var url = '{{ app.request.basepath }}/projet_tut.php/creationDestinataireEnt/'+res;
    console.log(url);
    window.location.href=url;
}

</script>
<script>
  $(window).load(function(){
    $('.scroller').css('position', 'fixed');
    $('.scroller').css('top', 170);
    $('.scroller').css('right', 20);
  });
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
