{% extends "home.html" %}

{% block content %}
	{{ parent() }}
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">La base de données n'est pas installée !</h4>
				</div>
				<div class="modal-body">
					<p>Voulez vous l'installer maintenant ?</p>
				</div>
				<div class="modal-footer">
					<button onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/create_database'" style="float:left;background-color: #4CAF50;border-color:rgba(0,0,0,0);" class="btn btn-success btn-lg" data-dismiss="modal"> Installer </button>
					<button class="btn btn-danger btn-lg" style="background-color:#F44336;border-color:rgba(0,0,0,0);" data-dismiss="modal"> Fermer </button>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<script type="text/javascript">
		$(window).load(function(){
			$('#myModal').modal('show');
		});
	</script>
{% endblock %}
