{% extends "home.html" %}

{% block content %}
	{{ parent() }}
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<form name="update_user_info" action="{{ app.request.basepath }}/projet_tut.php/set_user_info" id="userinfoform" method="POST">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Votre profil n'est pas complété !</h4>
				</div>
				<div class="modal-body">
					<h2 class="text-center">Complétez vos informations</h2>
					<div class="form-group row">
						<label for="inputNom" class="col-sm-2 col-form-label">Nom</label>
						<div class="col-sm-10">
							<input type="text" value="{{ valeurs["nom"] }}" class="col-sm-10 form-control" id="inputNom" placeholder="Nom" name="inputNom">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPrenom" class="col-sm-2 col-form-label">Prenom</label>
						<div class="col-sm-10">
							<input type="text" value="{{ valeurs["prenom"] }}" class="col-sm-10 form-control" id="inputPrenom" placeholder="Prenom" name="inputPrenom">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputAge" class="col-sm-2 col-form-label">Age</label>
						<div class="col-sm-10">
							<input type="number" value="{{ valeurs["age"] }}" class="col-sm-10 form-control" id="inputAge" placeholder="18" name="inputAge">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputAdresse" class="col-sm-2 col-form-label">Adresse</label>
						<div class="col-sm-10">
							<input type="text" value="{{ valeurs["adressePostal"] }}" class="col-sm-10 form-control" id="inputAdresse" placeholder="239 Rue de l'Ardoux" name="inputAdresse">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputCP" class="col-sm-2 col-form-label">Code postal</label>
						<div class="col-sm-10">
							<input type="number" value="{{ valeurs["codePostal"] }}" class="col-sm-10 form-control" id="inputCP" placeholder="45160" name="inputCP">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputVille" class="col-sm-2 col-form-label">Ville</label>
						<div class="col-sm-10">
							<input type="text" value="{{ valeurs["ville"] }}" class="col-sm-10 form-control" id="inputVille" placeholder="Olivet" name="inputVille">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputTel" class="col-sm-2 col-form-label">Téléphone</label>
						<div class="col-sm-10">
							<input type="text" value="{{ valeurs["tel"] }}" class="col-sm-10 form-control" id="inputTel" placeholder="5555551212" name="inputTel">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" style="float:left;background-color: #4CAF50;border-color:rgba(0,0,0,0);" class="btn btn-success btn-lg" data-dismiss="modal" onclick="validate_bouzin()">
					<button class="btn btn-danger btn-lg" style="background-color:#F44336;border-color:rgba(0,0,0,0);" data-dismiss="modal"> Fermer </button>
				</div>
				</form>
			</div>

		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<script type="text/javascript">
		$(window).load(function(){
			$('#myModal').modal('show');
		});
	</script>

	<script>
		function validate_bouzin() {
			 document.getElementById("userinfoform").submit();
		}
	</script>
{% endblock %}
