{% extends "base.twig" %}


{% block title %}yo tout le monde {{user}}{% endblock %}


{% block content %}
	<style media="screen">
		#fileselector {
			margin: 10px;
		}
		#upload-file-selector {
			display:none;
		}
		.margin-correction {
			margin-right: 10px;
		}
		.margin-correction2{
			margin-top: -20px;
		}
	</style>

	<h1 class="text-center">Salut, {{user}}</h1>

	<div class="centered-content">

		<div class="col-sm-2 col-sm-offset-2">
			<a href="{{ app.request.basepath }}/projet_tut.php/creationCV1?cv=0"><button class="btn btn-primary btn-lg btn-block"><img class="btn-icon" src="{{ app.request.basepath }}/static/img/cv.png"></button></a>
		</div>

		<div class="col-sm-2 col-sm-offset-1">
			<a href="{{ app.request.basepath }}/projet_tut.php/creationLM1"><button class="btn btn-primary btn-lg btn-block"><img class="btn-icon" src="{{ app.request.basepath }}/static/img/lm.png"></button></a>
		</div>

		<div class="col-sm-2 col-sm-offset-1 margin-correction2">
			<form enctype="multipart/form-data" id="form" action="{{ app.request.basepath }}/projet_tut.php/upload" method="POST">
				<span id="fileselector">
					<label class="btn btn-primary btn-lg btn-block" for="upload-file-selector">
						<input name="fichier" id="upload-file-selector" type="file">
						<input id="checkbox_cachee" name="LM" type="hidden">
						<i class="fa fa-upload fa-3x"></i><br>
					</label>
				</span>
				<center>
					<span class="les_trucs_du_souitche">CV </span>
					<label class="switch">
						<input id="checkbox_de_mort" name="CV" type="checkbox">
						<div class="slider round"></div>
					</label>
					<span class="les_trucs_du_souitche"> LM</span>
				</center>
			</form>
		</div>

		<div class="col-md-2"></div>

		<div class="col-md-3"></div>

		<div class="col-md-3">
			<a href="{{ app.request.basepath }}/projet_tut.php/fichiers"><button class="btn btn-secondary btn-lg btn-block">Mes fichiers</button></a>
			<br>
		</div>
		<div class="col-md-3">
			<a href="{{ app.request.basepath }}/projet_tut.php/entreprises"><button class="btn btn-secondary btn-lg btn-block">Mes destinataires</button></a>
		</div>

	</div>

	<script>
		document.getElementById("upload-file-selector").onchange = function() {
			document.getElementById("form").submit();
		};

		document.getElementById("checkbox_de_mort").onchange = function() {
			document.getElementById("checkbox_cachee").checked = ! document.getElementById("checkbox_de_mort").checked;
		};
	</script>
{% endblock %}

{% block stylesheets %}
	<link href="{{ app.request.basepath }}/static/css/home.css" rel="stylesheet" />
{% endblock %}
