
{% extends "base.twig" %}
{% block title %}LMvalidation{% endblock %}
{% block stylesheets %}<link href="{{ app.request.basepath }}/static/css/LMvalidation.css" rel="stylesheet" />{% endblock %}
{% block content %}

<h1 class="titre"></h1>
<div class='col-md-6'>
				<iframe style="width: 95%; height: 500px; position: absolute" src="{{ app.request.basepath }}/test/fichierTest/testLM.pdf"  align="middle"></iframe>
</div>
<div class='col-md-6'>
	<form class="formulaireCommentaire" action="" method="post">
		{% for elem in listePara %}

 		<fieldset>
 			<legend>Partie  {{ elem }}</legend>
      <div class="col-md-12 bootstrap-select">
        <div class=" col-xs-4 form-group bootstrap-select">
          <select data-style="btn-info" class="selectpicker form-control">
            <option>Ne pas valider</option>
            <option>Valider</option>
          </select>
        </div>
      </div>
 			<label for="comment{{ elem }}">Commentaire paragraphe {{ elem }}:</label>
 			<textarea class="form-control"  id="comment{{ elem }}"></textarea>
 		</fieldset>
    {% endfor %}
	</form>
</div>
<div  class="gestionBoutonVR col-md-12">
  <button type="button" onclick="history.go(-1)"  class="btn btn-default pull-left">retour</button>
  <button type="submit" onclick="window.location.href='{{ app.request.basepath }}/projet_tut.php/'" class="btn btn-success pull-right">Valider</button>
</div>

<script>var titre = "{{ titre }}";</script>
<script src="{{ app.request.basepath }}/static/JS/titre.js">
</script>

{% endblock %}
