{% extends "base.twig" %}

{% block title %}changer le role des uilisateurs{% endblock %}

{% block content %}
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>user</th>
				<th>role actuel</th>
				<th>affecter le role</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %} {# [name, role, id] #}
			<tr>
				<td>{{ user[0] }}</td>
				<td>{{ user[1] }}</td>
				<td>
					<form method="GET" action="{{ app.request.basepath }}/projet_tut.php/set_user_role/{{user[2]}}">
						<select id="ajax" class="selectpicker" name="new_role">
							<option style="color:black !important;" value="admin">admin</option>
							<option style="color:black !important;" value="eleve">eleve</option>
						</select>
						<input style="margin-left:10px;" type="submit" name="" class="btn btn-success">
					</form>
				</td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block stylesheets %}
<script>
	jQuery('#ajax').on('change', function() {
		console.log("ajax");
		$("#ajax").after('<div class="loading"></div> <img src="{{ app.request.basepath }}/static/img/loading.gif" alt="loading" height="42" width="42"> ');
		$.ajax({
			url: '/echo/html/',
			type: 'get',
			async: false,
			data: {},
			success: function(data) {
				console.log(data);
				$('.ajax').after(data);
			},
			error: function() {
				alert('Busted!');
			},
			complete: function() {
				$('.loading').remove();
			}
		});
	});
</script>
{% endblock %}